@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
  font-family: title;
  src: url(/assets/fonts/ProcrastinatingPixie-WyVOO.ttf);
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    );
}
::selection{
  background-color: #252525;
  color: #8a6e2f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #000; */
  min-height: 100vh;
  background: radial-gradient(
      ellipse farthest-corner at left bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at right top,
      /* #ffffff 0%, */ /* #ffffac 8%, */ #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #000;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
sub, sup{
  font-size: 0.7rem;
}
.navbar {
  padding: 15px 10px;
  /* background: transparent !important; */
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
  z-index: 99;
  position: fixed;
  /* //!!! changed */
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #000;
}
.wrapper {
  /* display: flex; */ 
  /* !!changed */
  width: 100%;
  align-items: stretch;
}
#sidebar {
  height: 100vh;
  position: fixed;
  z-index: 9;
  margin-top: 9vh;
  min-width: 250px;
  max-width: 250px;
  color: #000;
  /* color: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    ); */
  background-color: transparent;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
}
#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px dashed #000;
}
#sidebar ul p {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #fff;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  font-weight: 500;
}
#sidebar ul li a:hover {
  color: #fff;
  /* color: #000; */
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: transparent;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
}
#sidebar .sidebar-header {
  background-color: transparent;
}

#sidebar .sidebar-header h3 {
  /* font-family: "Poppins", sans-serif; */
  font-family: title;
  letter-spacing: 4px;
  font-size: 2rem;
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 1.5rem;
  text-shadow: 0 0 10px #fedb37, 0 0 20px #fdb931, 0 0 40px #9f7928,
    0 0 80px #8a6e2f, 0 0 160px #5d4a1f;
  transition: 0.25s ease-in-out;
}
#sidebar .sidebar-header h3:hover {
  color: #fff;
}

.btn-gold {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  z-index: 99;
}
.btn-gold:active:hover {
  background: #fff;
  box-shadow: 0 0 10px #fedb37, 0 0 20px #fdb931, 0 0 40px #9f7928,
    0 0 80px #8a6e2f, 0 0 160px #5d4a1f;
}

hr {
  border-bottom: 1px dashed #000;
}

.title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 10rem;
  font-size: 1.5rem;
  transition: 0.5s;
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 1.5rem;
  text-shadow: 0 0 10px #fedb37, 0 0 20px #fdb931, 0 0 40px #9f7928,
    0 0 80px #8a6e2f, 0 0 160px #5d4a1f;
}

.title:hover {
  /* color: #fcb613; */
  color: #fff;
}

.version {
  color: #000;
  text-align: center;
  margin-top: -1rem;
  /* text-decoration: underline; */
  word-spacing: 0.5rem;
}

.handwriting {
  width: 17rem;
  height: 6rem;
  transition: all 4s ease;
  transition-delay: 3s;
  /* pointer-events: none; */
  background-color: transparent !important;
}
.handwriting .purna-svg {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-15%);
}
.handwriting .purna-svg .text {
  stroke: #000;
  stroke-dasharray: 9000;
  stroke-dashoffset: 9000;
  -webkit-animation: animate 5s linear 1 forwards;
  animation: animate-text 5s linear 1 forwards;
}
.handwriting .purna-svg .text:hover {
  stroke: #fff;
}
@-webkit-keyframes animate-text {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animate-text {
  to {
    stroke-dashoffset: 0;
  }
}

/* PORTFOLIO BUTTON*/
.portfolio-button button {
  /* font-family: "Poppins", sans-serif; */
  font-family: title;
  font-size: 1.45rem;
  padding: 0.6em 1em;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.2s;
  color: #000;
  font-weight: 700;
  border-radius: 50px;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  outline: solid 1px #000;
  outline-offset: 1.5px;
}
.portfolio-button button:hover {
  transition: 0.5s ease-in-out;
  /* transform: translateX(5px); */
}
.portfolio-button a {
  text-decoration: none;
}
.portfolio-button button span {
  display: block;
  transition: all 0.3s ease-in-out;
  margin-left: -15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.portfolio-button button .portfolio-svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}
.portfolio-button button:hover .wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}
.portfolio-button button:hover .portfolio-svg {
  transform: translateX(2.9em) rotate(1080deg) scale(2);
  opacity: 1;
}
.portfolio-button button:hover span {
  transform: translateX(10em);
}
.portfolio-button button:active {
  transform: scale(0.95);
}
.portfolio-button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.8s;
}
.portfolio-button button:hover::before {
  left: 100%;
}
@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

.content-wrapper {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*  //! changed*/
}
.content-wrapper .container {
  background-color: transparent;
  padding: 0;
  /* margin: 0 auto; */
  /* margin-top: -70px; */
  /* margin-left: 80%; */
}
.content-wrapper .container .card {
  background-color: transparent;
  padding: 2em !important;
  margin: -50px 0;
  border: 0;
  /* z-index: 3; */
  /* !changes important */
}
.card-header h5 {
  color: #252525;
  font-size: 1.15rem;
  transition: all 0.2s ease-out;
  /* z-index: -99; */
}
.card-header h5:hover,
.card-header h5:active {
  color: #000;
  transform: translate(20px) scale(1.2);
}
.content-wrapper .container .card .btn-link {
  text-decoration: none;
  font-size: 5rem !important;
  color: #252525;
  /* z-index: -99!important; */
}
.content-wrapper .container .card .btn-link:hover {
  color: #000;
}

.content-wrapper .container .card .card-body h6,
.content-wrapper .container .card .card-body ol,
.content-wrapper .container .card .card-body li,
.content-wrapper .container .card .card-body p {
  font-size: 1.2rem;
  color: #252525;
  transition: all 0.3 ease-in-out;
  margin-left: 2rem;
}
.content-wrapper .container .card .card-body h6:hover,
.content-wrapper .container .card .card-body ol:hover,
.content-wrapper .container .card .card-body li:hover,
.content-wrapper .container .card .card-body p:hover {
  color: #000;
}
h6 {
  padding: 1.5rem;
}
.btn-info {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  padding: 0.4em 1em;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.2s;
  color: #000;
  font-weight: 700;
  /* border-radius: 50px; */
  border: 0;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  outline: solid 1.5px #9f7928;
  outline-offset: 1px;
}
.btn-info:hover {
  transition: 0.5s ease-in-out;
}

.btn-info span {
  font-family: title;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-left: -15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.btn-info .btn-svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}
.btn-info:hover .wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}
.btn-info:hover .btn-svg {
  transform: translateX(3em) rotate(1080deg) scale(1.5);
  opacity: 1;
}
.btn-info:hover span {
  transform: translateX(10em);
}
.btn-info:active {
  transform: scale(0.1);
}
.btn-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.8s;
}
.btn-info:hover::before {
  left: 100%;
}
@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

@media (max-width: 768px) {
  .content-wrapper .container {
    margin: 0;
  }
  .content-wrapper .container .card .card-body a,
  .content-wrapper .container .card .card-body ul,
  .content-wrapper .container .card .card-body li,
  .content-wrapper .container .card .card-body p {
    font-size: 1rem;
    margin: 0;
  }
  .card-header h5 {
    font-size: 1rem;
  }
  h6 {
    /* color:red!important; */
    padding: 10px;
    font-size: 1rem !important;
  }
  ol,
  li {
    font-size: 0.9rem !important;
  }

  .btn-info {
    /* display: flex; */
    /* flex-wrap: wrap; */
    font-size: 0.75rem;
    display: none;
  }
}
@media (min-width: 768px) {
  .btn-info {
    float: right;
    /* margin-right: 5rem; */
  }
}

.content_wrapper {
  background: transparent;
}

.syllabus-title {
  font-size: 1.25rem !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.syllabus_header p {
  text-align: center;
  font-weight: 600;
}

.syllabus_container {
  background-color: transparent !important;
  padding: 2rem;
}

.syllabus_item span {
  float: right;
}

h5.syllabus_title,
.syllabus_item h6 {
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.content_wrapper strong {
  font-weight: 700;
}
.labwork {
  font-size: 1.2rem;
  margin-left: 30px;
}
.labwork ul li {
  list-style-type: lower-alpha;
  font-size: 1em !important;
  font-weight: 500;
  gap: 50px !important;
}

table tbody tr td {
  padding: 0.5em;
  border-color: #000;
  cursor: pointer;
}
table:hover tbody tr td {
  color: #000;
  /* transition: all 0.15s ease-in-out; */
}

/* for button popup */
.modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 9;
}
.modal-container.show-content {
  transform: scale(1);
}
.modal-container.show-content .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.show-content .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.show-content.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
.modal-container.show-content.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.show-content.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container .modal-background {
  /* display: table-cell; */
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modal-container .modal-background .modal {
  background: #fff;
  padding: 50px;
  display: inline-block;
  /* border-radius: 3px; */
  font-weight: 300;
  position: relative;
  width: 60%;
  min-height: 100vh;
  z-index: 999;
}
@media screen and (max-width: 569px) {
  .modal-container .modal-background .modal {
    width: 100%;
  }
}
.modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
/* .modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
} */
/* .modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
} */

.content {
  min-height: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  z-index: 0;
  cursor: pointer;

}
.content .button:hover {
  color: #000;
  /* background: #009bd5; */
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
/* .modal-container .modal-background .modal img {
  z-index: 9997;
  width: 50%;
} */

/* .card-header, .card-header button{
  background-color: red;
  z-index: -9999!important;
  color: #fff;
} */

/* .question-and-answer::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  background-color: red;
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track
} */

/* .question-and-answer::-webkit-scrollbar,
.modal::-webkit-scrollbar,
 {
  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
} */

/* .modal img, */
/* .modal p {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
} */
.card-body .question-and-answer .modal-container .modal-background .modal img{
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}
/* .modal{
  overflow: scroll;
}
.modal::-webkit-scrollbar{
  width: 0.5em;
  height: 200%;
  margin-top: -50vh;
} */


/* iframe{
  width: 1000px;
  background-size: cover;
} */