@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
  font-family: purna;
  src: url(../fonts/TheScientist-L3EyW.ttf);
}
@font-face {
  font-family: title;
  src: url(../fonts/ProcrastinatingPixie-WyVOO.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background-color: #000;
  border-radius: 100vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  border-radius: 100vw;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  transition: all 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    );
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #ae882f;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  padding: 15px 10px;
  background: transparent !important;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
  z-index: 9999;
  width: 99vw;
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #f0e68c;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #ae882f;
  color: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  background-color: transparent;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
}
#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px dashed #f0e68c;
}
#sidebar ul p {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #fff;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #000;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: transparent;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
li.portfolio {
  font-size: 1.5rem;
}
a.download {
  font-weight: 800;
  outline: solid 1px #9f7928;
  outline-offset: 2px;
  font-family: title;
  letter-spacing: 4px;
  border-radius: 30px !important;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  font-size: 2rem !important;
  color: #000;
}
a.download:hover {
  color: #da9100 !important;
  text-shadow: #333 -2px 0, #888 2px 0;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.content-wrapper {
  padding: 15px;
  margin-top: -30px;
}
@media (maz-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
}

#sidebar {
  background-color: transparent;
  height: 100vh;
  position: fixed;
  z-index: 1;
  margin-top: 9vh;
}
#sidebar .sidebar-header {
  background-color: transparent;
}

#sidebar .sidebar-header h3 {
  font-family: title;
  letter-spacing: 4px;
  font-size: 2rem;
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 1.5rem;
  text-shadow: 0 0 10px #fedb37, 0 0 20px #fdb931, 0 0 40px #9f7928,
    0 0 80px #8a6e2f, 0 0 160px #5d4a1f;
  transition: 0.25s ease-in-out;
}
#sidebar .sidebar-header h3:hover {
  color: #fff;
}

/* .navbar-toggler-icon
{
  outline:solid 1px #ae882f;
} */

hr {
  /* background-color: #f0e68c!important; */
  /* width: 100%;
  left: 0; */
  border-bottom: 1px dashed #f0e68c;
}

.namaste {
  font-family: title;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
  transition: 0.5s;
  /* color: #ae882f; */
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 1.5rem;
  text-shadow: 0 0 10px #fedb37, 0 0 20px #fdb931, 0 0 40px #9f7928,
    0 0 80px #8a6e2f, 0 0 160px #5d4a1f;
}

.namaste:hover {
  /* color: #fcb613; */
  color: #fff;
}

/* 
################## ROCKET STARTS  #############################
 */

.rocket-section {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: -21vh;
  user-select: none;
  /* pointer-events: none; */
}
.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -50px; */
}
.scene i {
  position: absolute;
  top: -250px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background-color: #ae882f; */
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );

  animation: animateStars linear infinite;
}
@keyframes animateStars {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200vh);
  }
}
.scene .rocket {
  position: absolute;
  pointer-events: none;
  animation: animate 0.2s ease infinite;
  transition: 0.1s;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-52px) translateX(-50%);
  }
  50% {
    transform: translateY(-48px) translateX(-50%);
  }
}
.scene .rocket::before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#f4b625, transparent);

  /* background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    ); */
}
.scene .rocket::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#f4b625, transparent);
  filter: blur(20px);
}
.scene:active .rocket::before,
.scene:active .rocket::after {
  /* background: linear-gradient(#0dff00, transparent); */
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  bottom: -300px;
  height: 300px;
  filter: blur(1px);
}

h3.purna {
  /* color: #fcb613; */
  font-family: purna;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  transition: all 0.25s ease-in;
}
h3.purna:hover {
  color: #fcb613;
}
.version {
  color: #ae882f;
  text-align: center;
  margin-top: -1.5rem;
}

.btn-gold {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}